body {
    height: 100%;
    width: auto;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 48px;
    text-align: center;
}

.library-grid {
    display: grid;
    width: 100%;
    height: auto;
}

.book {
    /* Controls the display of library book cards */
}